body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://cdn.pixabay.com/photo/2015/10/30/20/13/sunrise-1014712_1280.jpg');
    background-size: cover;
    color: #fff;
}

header {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.hero-section {
    text-align: center;
    padding: 100px 0;
}

.hero-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.destination-section {
    padding: 50px 0;
    text-align: center;
}

.destination-card {
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.destination-card img {
    width: 100%;
    height: auto;
}

.about-section,
.contact-section {
    text-align: center;
    padding: 50px 0;
}

footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 20px 0;
}
